#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.form-test {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    margin-bottom: 7vh;
}

label {
    font-weight: bold;
    font-size: large;
}
input {
    margin-left: 1vw;
}
.input-hint {
    color: gray;
    font-size: medium;
    font-weight: normal;
}

.toolbar {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.toolbar > a > button,
button {
    color: white;
}
.reset-form-button {
    background-color: red;
}
.form-button {
    background-color: rgb(89, 89, 255);
}

.pdf-viewer {
    width: 100%;
    height: 100vh;
}
